html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  left: 35.5em;
  top: 11.75em;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  left: 35.95em;
  top: 8.75em;
  animation: hand 6s linear infinite;
  transform-origin: bottom;
}

.hand-minute {
  position: absolute;
  left: 35.95em;
  top: 7em;
  animation: hand 0.5s linear infinite;
  transform-origin: bottom;
}

@keyframes hand {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
